body{
  background: black;
}


:root{
    --hauteur-menu: 60px;
  }

  nav {
    width: 100%;
    font-size: 18px;
    position: fixed;
    top: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    z-index: 1;

  }

  nav > ul {
    display: flex;
    text-align: center;
    height: var(--hauteur-menu);
  }
   
  nav ul {
    list-style-type: none;
  }
  
  nav > ul > li {
    background: linear-gradient(rgb(2, 55, 134)0%,rgb(2, 55, 134)50%,rgb(0, 67, 211) 100%);
    position: relative;
    height: 100%;
    right: 30px;
    flex: 1;
  }

  nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  li a {
    text-decoration: none;
    color: black;
  }
  
  .menu-deroulant > a:after{
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
  }

  .sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background: linear-gradient(rgb(0, 67, 211) 0%, rgb(4, 61, 167) 100%);
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
  }
  
  .sous-menu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
  }

  nav > ul > li:hover > a{
    color: #151515;
  }

  .sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
  }
  
  .sous-menu > li:hover > a {
    color: white;
  }
  
  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  
  .menu-deroulant:hover > a:after{
      animation: rotationFleche 0.2s linear forwards;
}

  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #2169EC;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #2169EC;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }

  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }

  /*Title */
  
  .title{
    padding: 10px;
    margin: 10px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  h1{
    color: #484848;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: none;
    position: absolute;
    top: 20%;
    left: 5%;

  }
  h1 span{
    transition: 0.5s linear;
    
  }
  h1:hover span:nth-child(1){
    margin-right: 30px;
    color: #fff;
    text-shadow: 0 0 10px #fff,
                   0 0 20px #fff, 
                   0 5px 50px #fff;

  }
 
  
  
  h1:hover span:nth-child(2){
    margin-left: 15px;
    font-size: 90px;
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px rgb(255, 0, 0), 
                 0 5px 50px rgb(0, 162, 255);
   
  }
 
  .Back{
    width: 80%;
    height: 1700px;
    background: #131416;
    position: absolute;
    bottom: -1303px;
    right: 140px;
    margin: auto;
    border-radius: 10px;
    opacity: 0.88;

  }

  video{
    margin: 0px 0px -10px;
  }

  .Text1 {
    color: #fff;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 10px;
    margin: 19px;
    padding: 19px;
  }
  
  .portes{

      position: absolute;
      top: 5.6%;
      right: 19%;
      font-size: 30px;
      display: inline;
      font-size: 40px;
      color:rgb(255, 255, 255);
      z-index: 1;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      transition: color 1s;
      z-index: 1;
  }
  .portes::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: linear-gradient( rgb(0, 42, 133)0%,rgb(0, 132, 255)100%);

    transform: scale(0);
    transition: transform 1s  ease;

}

.portes:hover::after {
    transform: scale(1);
    transition: transform 0.2s ease-out;
 
}

.portes2{

display: inline-block;
  font-size: 30px;

  font-size: 40px;
  color:rgb(255, 255, 255);
  z-index: 1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  transition: color 1s;
  z-index: 1;
}
.portes2::after {
content: "";
display: block;
margin-left: 0;

position: absolute;
width: 100%;
height: 5px;
background: linear-gradient( rgb(0, 42, 133)0%,rgb(0, 255, 34)100%);

transform: scale(0);
transition: transform 1s  ease;

}

.portes2:hover::after {
transform: scale(1);
transition: transform 0.2s ease-out;

}

.lien{
text-decoration: none;
color: aqua;

}

img{
  width: 45%;
}

.imagee1{
  position: absolute;
  top: 100%;
  right: 0%;
}

.imagee2{
  position: absolute;
  top: 100%;
  left: 0%;
}

.précisions{
  position: absolute;
  bottom: -33%;
  text-align: center;
  font-size: 20px;
}