body {
    background: #2e2e31;
    margin: 0;    
}


/* Title / Underline Animation */

h1{
    position: absolute;
    top: 20%;
    left: 50%;
     transform: translate(-50%,-50%); 
    font-size: 30px;
    display: inline;
    font-size: 60px;
    color:pink;
    z-index: 1;
}

h1::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ffff; 
    transform: scale(0);
    transition: transform 3s ease;

}

h1:hover::after {
    transform: scale(1);
    transition: transform 0.2s ease-out;
}

/* SubTitle */

.SubTitle {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    animation: ColorChange 4s ease-out;
    display: inline;
    color: #fff;
}

/* Menu */ 

/*
.Main_Menu {
    width: 100%;
    height: 80px;
    background:#1F1E58;
    z-index: 1;
    position: absolute;
    top: 0%;
    left:0%;
}
.Icon {
   position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: linear-gradient(149deg, rgba(94,114,235,1) 0%, rgba(255,145,144,1) 100%);
    right: 5px;
    top: 5px;
    animation: rotating ease-in-out infinite 5s;
}
*/

/* Mod Menu */

:root{
    --hauteur-menu: 60px;
  }

  nav {
    width: 100%;
    font-size: 18px;
    position: absolute;
    top: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    opacity: 1;
  }

  nav > ul {
    display: flex;
    text-align: center;
    height: var(--hauteur-menu);

  }
   
  nav ul {
    list-style-type: none;
  }
  
  nav > ul > li {
    background: linear-gradient(rgb(2, 55, 134)0%,rgb(2, 55, 134)50%,rgb(0, 67, 211) 100%);
    position: relative;
    height: 100%;
    right: 30px;
    flex: 1;
  }

  nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  li a {
    text-decoration: none;
    color: black;
  }
  
  .menu-deroulant > a:after{
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
  }

  .sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background: linear-gradient(rgb(0, 67, 211) 0%, rgb(4, 61, 167) 100%);
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
  }
  
  .sous-menu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
  }

  nav > ul > li:hover > a{
    color: #151515;
  }

  .sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
  }
  
  .sous-menu > li:hover > a {
    color: white;
  }
  
  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  
  .menu-deroulant:hover > a:after{
      animation: rotationFleche 0.2s linear forwards;
}

  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #2169EC;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #2169EC;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }

  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }

/* Animation Emoji */

.Emoji {
    font-size: 80px;
    text-align: center;
}

.emoji1{
    
     
     animation: animate 13s linear infinite  ;
     position: absolute;
     top: 20%;
     left: 30%;
     z-index: -1;
}

.emoji2{
    animation: animate 9s linear infinite  ;
    position: absolute;
    top: 70%;
    left: 50%;
    z-index: -1;
}

.emoji3{
    animation: animate 10s linear infinite  ;
    position: absolute;
    top: 17%;
    left: 6%;
    z-index: -1;
}

.emoji4{
    animation: animate 8s linear infinite ;
    position: absolute;
    top: 20%;
    left: 60%;
    z-index: -1;
}

.emoji5{

     animation: animate 7s linear infinite  ;
     position: absolute;
     top: 67%;
     left: 10%;
     z-index: -1;
}

.emoji6{

     animation: animate 12s linear infinite  ;
     position: absolute;
     top: 80%;
     left: 70%;
     z-index: -1;
}

.emoji7{

     animation: animate 10s linear infinite  ;
     position: absolute;
     top: 60%;
     left: 80%;
     z-index: -1;
}
.emoji8{
    animation: animate 14s linear infinite;
    position: absolute;
    top :30%;
    right : 8%;
    z-index: -1;
}

@keyframes animate {
    from{ 
        opacity: 1;
        transform: translateY(100px) rotate(0) scale(0);

    }
    to { 
        opacity: 0;
        transform: translateY(-100px) rotate(360deg) scale(1);
        
    }
 }

@keyframes ColorChange {
    0% {
        color: #131416;
        margin-top: 100px;
        
    }
    70%  {
        color: #131416;
        
    }
    100% {
        color: #fff;
    }
}

@keyframes rotating {
    0%{transform: rotate(0deg);}
     
    100%{transform: rotate(360deg);}

}

/*Logos*/

.Animation_Logo {
  text-align:center;
 /* background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);*/
  color:#fff;
  font-family:'Roboto';
  font-weight:300;
  font-size:32px;
  padding-top:40vh;
  height:100vh;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  /*-webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);*/
}

.Texting{
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.Texting:first-of-type {    
  animation: showup 7s infinite;
}

.Texting:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.Texting:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:855px;}
    80% {opacity:1;}
    100% {opacity:0;width:855px;}
}

@keyframes revealB {
  0% {opacity:0;width:0px;}
  20% {opacity:1;width:0px;}
  30% {width:1100px;}
  80% {opacity:1;}
  100% {opacity:0;width:1100px;}
}

p {
  font-size:12px;
  color:#999;
  margin-top:200px;
}

.Logo1{
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 15%;
}

.TextingB{
  display: inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.TextingB:first-of-type {    
  animation: showup 7s infinite;
}

.TextingB:last-of-type {
  width:0px;
  animation: revealB 7s infinite;
}

.TextingB:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}


.Logo2{
  font-size: 80px;
  position: absolute;
  top: 60%;
  left: 15%;
}

.Logo3{
  font-size: 80px;
  position: absolute;
  top: 70%;
  left: 15%;
}

.img{
  position: absolute;
  top: 90%;
}